/*  your css code here. If applicable */
*{
    margin: 0%;
    padding: 0%;
}

#buttons{
    background-color: #A164DF;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    background-color: #663399;
    color: white;
    height: 30px;
    width: 70px;
}